<!doctype html>
<html lang="zxx">
<head>
    <!--TODO: fix styling of each page/view --MAKE SURE TO STYLE EDIT/DETAILS/DELETE/CREATE TOO ON EVERY ONE-->
    <!--TODO: Create a subdomain and a database on SmarterASP. Create a backup script of the local DB and execute it on the live DB. Deploy project files, push the final version to GitHub repo...****Make sure no usernames/passwords pushed****-->
    <!--TODO: Link to the live site on PersonalSite-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MeowMart - Purrfect Products!</title>
    <link rel="icon" href="~/Content/img/android-chrome-192x192.png">
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">*@
    <!-- animate CSS -->
    @*<link rel="stylesheet" href="~/Content/css/animate.css">*@
    <!-- owl carousel CSS -->
    @*<link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">*@
    <!-- font awesome CSS -->
    @*<link rel="stylesheet" href="~/Content/css/all.css">*@
    <!-- flaticon CSS -->
    @*<link rel="stylesheet" href="~/Content/css/flaticon.css">
        <link rel="stylesheet" href="~/Content/css/themify-icons.css">*@
    <!-- font awesome CSS -->
    @*<link rel="stylesheet" href="~/Content/css/magnific-popup.css">*@
    @*<link href="https://www.foo.com/wp-content/themes/independent-publisher/fonts/fontawesome-free-5-0-6/web-fonts-with-css/fontawesome-all.css" rel="stylesheet">*@

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://kit.fontawesome.com/4263a2b62a.js" crossorigin="anonymous"></script>

    @*NOTE, Module 5 AJAX: find names at jqueryui.com/themeroller, gallyery tab (like excite-bike, south-street or sunny)*@
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css">
    @*<!-- swiper CSS -->
        <link rel="stylesheet" href="~/Content/css/slick.css">
        <!-- style CSS -->
        <link rel="stylesheet" href="~/Content/css/style.css">*@

    @Styles.Render("~/Content/css")

    @{
        int countItems = 0;
        if ((Dictionary<int, MVCStoreFront.UI.Models.CartItemViewModel>)Session["cart"] != null && ((Dictionary<int, MVCStoreFront.UI.Models.CartItemViewModel>)Session["cart"]).Count > 0)
        {
            foreach (var item in (Dictionary<int, MVCStoreFront.UI.Models.CartItemViewModel>)Session["cart"])
            {
                countItems += item.Value.Qty;
            }

        }
        ViewBag.CountItems = countItems;
    }

    @RenderSection("htmlHead", required: false)

</head>
<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="~/Content/img/mmlogo.png" alt="MeowMart Cat Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Products")" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Products
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="@Url.Action("Index", "Products")"> Product Catalog</a>
                                        @*<a class="dropdown-item" href="@Url.Action("ProductDetails", "Home")">Product Details</a>*@
                                        <a class="dropdown-item" href="@Url.Action("Index", "ProductCategories")"> Product Categories</a>
                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" href="@Url.Action("Serverside", "Filters")">Product Dashboard</a>
                                        }

                                    </div>
                                </li>
                                @*<li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                                    </li>*@
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                            <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Admins</a>
                                            <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")">Users</a>
                                            <a class="dropdown-item" href="@Url.Action("Index", "StockStatus")"> Stock Statuses</a>
                                            <a class="dropdown-item" href="@Url.Action("Index", "Departments")"> Departments</a>
                                            <a class="dropdown-item" href="@Url.Action("Index", "Employees")"> Employees</a>
                                        </div>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                                </li>
                                @Html.Partial("_LoginPartial")
                                <li class="hearer_icon d-flex align-items-center">
                                    @if (Session["cart"] != null && ViewBag.CountItems > 0)
                                    {
                                        <a href="/ShoppingCart/Index">
                                            <i class="fas fa-shopping-cart pull-right">
                                                <span class="text-danger">@ViewBag.CountItems</span>
                                            </i>
                                        </a>

                                    }
                                    @*<a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>*@
                                    @*<a href="@Url.Action("Cart", "Home")">*@
                                    else
                                    {
                                        @*@Html.ActionLink("Cart", "Index", "ShoppingCart")*@
                                        <a href="/ShoppingCart/Index">
                                            <i class="fas fa-shopping-cart pull-right" alt="shopping cart">
                                                @*<span class="text-danger">@ViewBag.CountItems</span>*@
                                            </i>
                                        </a>
                                    }

                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
        @*<div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>*@
    </header>
    <!-- Header part end-->

    @RenderBody()

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_iner">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-8">
                        <div class="footer_menu">
                            <div class="footer_logo">
                                <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/mmlogo.png" alt="MeowMart Cat Logo"></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="social_icon">
                            <a href="http://facebook.com/meowmartstore" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="http://instagram.com/meowmartstore" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="http://twitter.com/meowmartstore" target="_blank"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright_part">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="copyright_text">
                            <P>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Danielle Smalley | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib </a>and Converted to MVC by Danielle Smalley
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </P>
                            <div class="copyright_link">
                                <a href="#">Terms & Conditions</a>
                                <a href="#">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="~/Scripts/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    @*<script src="~/Scripts/contact.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <!-- popper js -->
    @*<script src="~/Scripts/popper.min.js"></script>*@
    <!-- bootstrap js -->
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- magnific popup js -->
    @*<script src="~/Scripts/jquery.magnific-popup.js"></script>
        <script src="~/Scripts/swiper.min.js"></script>
        <script src="~/Scripts/mixitup.min.js"></script>*@
    <!-- carousel js -->
    @*<script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/jquery.nice-select.min.js"></script>*@
    <!-- slick js -->
    @*<script src="~/Scripts/slick.min.js"></script>
        <script src="~/Scripts/jquery.counterup.min.js"></script>
        <script src="~/Scripts/waypoints.min.js"></script>*@

    @*<script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
        <script src="~/Scripts/jquery.form.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/mail-script.js"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap">
        </script>*@
    <!-- custom js -->
    @*<script src="~/Scripts/custom.js"></script>*@

    <!--ADDEDjQuery UI CDN-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- ADDED jQuery Ajax CDN-->
    @*This is an AJAX script that allows for us to make AJAX calls and receive data asynchronously*@
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)




</body>
</html>
