@model MVCStoreFront.DATA.EF.Product

@{
    ViewBag.Title = $"{Model.ProductName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-6">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemsPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemsPerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStatus.Status)
        </dd>

    </dl>
    <div class="col-md-6">
        <img src="~/Content/img/product/@Model.Image" alt="Product Image" title="@Model.ProductName" />
    </div>
    <br />
    <br />
    <p>
        @using (Html.BeginForm("AddToCart", "Products", new { @productID = Model.ProductID }, FormMethod.Post, new { @class = "text-center" }))
        {
            @Html.HiddenFor(p => p.ProductID)
            <span class="label">Quantity: </span>
            @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
            <input type="submit" value="Add to Cart" class="btn btn-success" name="qty" />
        }
    </p>
</div>



@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProductID, @class = "btn btn-danger" })
</p>
}

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
