@model IEnumerable<MVCStoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>Product Catalog</h2>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{ 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemsPerUnit)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StockStatus.Status)
        </th>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Image)*@
            <img src="~/Content/img/product/@item.Image" style="max-width: 50px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemsPerUnit)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StockStatus.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ProductID })
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) @:|
                if (item.UnitsInStock.Equals(0) && item.StockStatusID != 4)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                }
                else if (item.UnitsInStock.Equals(0))
                {
                    <span class="text-danger">Discontinued</span>
                }
                else
                {
                    <span class="text-danger">In Use</span>
                }
            }@*end main if*@
        </td>
    </tr>
}@*end foreach *@

</table>
